@media (max-width: 480px) {
    h1 {
        font-size: 14px;
    }
    input, button {

        font-size: 20px;
        padding: 10px;
    }
}

.Grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-bar-head {
    background: linear-gradient(to right, #3c0bff, #ff0000, hsl(0, 84%, 60%));
    display: flex;
    height: 45px;
    align-items: center;
    background-color: #ff00c8;
    border: solid;
    border: none;
    font-family: "Montserrat", sans-serif;
}

.top-menu {
    margin: 0 1rem;
}

.text-head {
    margin: 0 a;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    font-family: "Mitr", sans-serif;
}

.list-item {
    margin-top: 40px;
    text-align: center;
}

.head1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.list-unlimited-speed {
    margin: 0 auto;
    border: solid;
    background: linear-gradient(to right, #f2ff00, #ececec);
    border-radius: 20px;
}


.head {
        margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding: 70px;
    font-family: "Mitr", sans-serif;
}

.text-head1 {
    margin: 0 auto;
    margin-top: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding: 70px;
    font-family: "Mitr", sans-serif;
}

.list-unlimited-speed-call {
    border: solid;
    background: linear-gradient(to right, #f2ff00, #ececec);
    border-radius: 20px;
}

.list2 {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 15px;
}

.left-list {
    max-width: 100px;
    
    height: 150px;
    background: linear-gradient(to right, #000000, #0040ff);
    color: #eee;
    position: fixed;
    border-radius: 5px;
}

.full-speed {
    padding: 15px;
    margin: 0 auto;
    border: solid;
    background: linear-gradient(to right, #f2ff00, #ececec);
    border-radius: 20px;

}

.text-head2 {
   margin: 0 auto;

    font-weight: bold;
  

    text-align: center;
}

.text-head-2day {
     margin: 0 auto;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.twoday-unlimited-speed {
 padding: 5px;
    margin: 0 auto;
    border: solid;
    background: linear-gradient(to right, #f2ff00, #ececec);
    border-radius: 20px;
}

.text-head-3day {
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.text-head-full-speed-week {
    margin-top: 30px;
    font-weight: bold;
}

.full-speed-week {
    margin-left: 30px;
    border: solid;
    margin-left: 500px;
    background: linear-gradient(to right, #f2ff00, #ececec);
    border-radius: 20px;
}

.text-head-unlimited-speed-week {
    margin-top: 30px;
    font-weight: bold;
}

.unlimited-speed-week {
     margin-left: 30px;
    border: solid;
    margin-left: 500px;
    background: linear-gradient(to right, #f2ff00, #ececec);
    border-radius: 20px;
}

.text-head-unlimited-spee {
      margin-top: 30px;
    font-weight: bold;
}

.-week-freecall {
     margin-left: 30px;
    border: solid;
    margin-left: 500px;
    background: linear-gradient(to right, #f2ff00, #ececec);
    border-radius: 20px;
}

.day {
text-align: center;
margin-top: 20px;
}

.btn1, .btn2, .btn3, .btn4, .btn5 {
    border: none;
    border-radius: 35px;
    background: linear-gradient(to right, #ff0000, #ff5cf4);
padding: 3px;
}

 /* git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/Camille061/true.git
git push -u origin main  */